@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Lato', sans-serif;
  line-height: 1.4rem;
  font-size: 15px;
}

body {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 110px;
}

.accent {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.misc {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
}

.thin {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.header {
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;

  background-color: #323232;
  color: #FFFFFF;

  padding: 3rem 3rem 3rem 1.5rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.feedback {
  margin-bottom: 45px;
  min-height: 150px;
}

.feedback:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  height: 85px;
  width: 100%;
  background-color: #9855D4;
}

.feedback__emotions {
  padding: 1.5rem;
  padding-bottom: 0rem;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-style: italic;
}

.feedback__heading {
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  color: #FFFFFF;
}

.feedback__details {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0 1.5rem;
  padding-bottom: 0.5rem;
  color: #FFFFFF;
}

.feedback__content {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.feedback-form {
  padding: 1.5rem;
}

.feedback-form__content {
  padding: 10px;
  border: 2px solid #9855D4;
  font-size: 15px;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.feedback-form__content::-webkit-input-placeholder {
  font-weight: 300;
}

.feedback-form__content:focus {
  outline: none;
}

.feedback-form__title {
  font-weight: 600;
  font-size: 1.6rem;
  color: #9855D4;
  padding: 1rem 0;
}

.feedback-form__audio {
  border: 2px solid #9855D4;
  color: #9855D4;
  padding: 5px;
  margin-top: 15px;
  margin-right: 15px;
  display: inline-block;
}

.feedback-form__audio:hover {
  color: #FFFFFF;
  background-color: #9855D4;
}

.feedback-form__file:hover {
  color: #FFFFFF;
  background-color: #9855D4;
}

.feedback-form__submit {
  background-color: #FFFFFF;
  border: 2px solid #9855D4;
  padding: 5px;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: #9855D4;
  line-height: 1.4rem;
  box-sizing: content-box;
}

.feedback-form__submit:active {
  color: #FFFFFF;
  background-color: #9855D4;
}

.feedback-form__submit:hover {
  color: #FFFFFF;
  background-color: #9855D4;
}

.feedback-form__submit:focus {
  outline: none;
}
